@use "sass:color";
@import "../../styles/variables.scss";
.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: $light;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .filtersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .clearFilters {
      font-weight: 500;
    }
    .clearFilters:hover {
      color: $primary;
      cursor: pointer;
    }
  }
  .filters {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;
    width: 100%;

    .chip {
      display: inline-block;
      padding: 0.35em 0.75em;
      margin: 0.25em;
      font-size: 0.9rem;
      font-weight: 500;
      background-color: lighten($secondary, 10%);
      color: $dark;
      border: 1px solid lighten($primary, 15%);
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    .chip:hover {
      background-color: $primary;
      color: white;
      border-color: darken($primary, 5%);
    }

    .active {
      background-color: $primary;
      color: white;
    }

    .select {
      flex: 1;
      height: 3rem;
      padding: 0 1rem;
      font-size: 1rem;
      font-weight: 500;
      border: 1px solid lighten(#e17055, 15%);
      border-radius: 6px;
      background-color: #f5f6fa;
      color: #2d3436;
      appearance: none; // Removes native arrow in some browsers
      cursor: pointer;
      transition: border 0.2s ease-in-out;

      &:hover,
      &:focus {
        border-color: #e17055;
        outline: none;
      }
    }
  }
}
