// Theme Colors
$primary: #e17055;
$secondary: #ffeaa7;
$dark: #2d3436;
$light: #f5f6fa;
$accent: #00cec9;
$error: #d63031;
// Typography
$font-main: "Inter", sans-serif;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
